.list-item {
  background-color: #0099cc; /* Set the background color for the list item's text */
  display: inline-block; /* Make the background only cover the width of the text */
  padding: 15px; /* Add some padding to make the text more legible */
  width: 95%;
  border-radius: 5px;
  text-align: center;
}

.content-skill {
  order: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 15px;
}

.container-3 h1 {
  color: #ffffff;
  font-size: 16pt;
  font-family: "MyCustomFont";
  letter-spacing: 1px;
}

.container-3 {
  order: 3;
  width: 700px;
  border: 0px solid #a9bcd0;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 0px solid #a9bcd0;
  display: flex;
  gap: 10px;
  background-color: #05aacc;
}
